* {
	margin: 0;
	padding: 0;
	border: 0;
	list-style: none;
}

body {
	background-color: #ddc850;
}

body,
input,
select,
textarea,
button {
	font-family: "Source Code Pro", monospace, sans-serif;
	color: #2e2e2e;
}

button:focus {
	text-decoration: none;
	outline: none;
}

a:link {
	text-decoration: inherit;
	color: inherit;
	cursor: auto;
}

a:visited {
	text-decoration: inherit;
	color: inherit;
	cursor: auto;
}

.dark-mode {
	background-color: #2e2e2e;
	color: #ddc850;
}

.dark-mode button {
	background-color: #2e2e2e;
	color: #ddc850;
}

.container {
	position: relative;
	margin: 0 auto;
	width: 80%;
}
