#main {
	display: flex;
	height: 100vh;

	width: 100vw;
	max-width: 100%;
}

.stats {
	display: flex;

	flex: 1;
	flex-direction: row;

	margin: 0 auto;
	width: 70%;

	justify-content: space-between;
	align-content: center;

	margin-top: 3vh;
}

.stats div {
	margin: auto 0;
}

.inner-box {
	padding: 5vh;

	border-radius: 5vh;
	background-color: #ccb73d;

	-webkit-box-shadow: inset -10px 10px 0px 5px #00000065;
	-moz-box-shadow: inset -10px 10px 0px 5px #00000065;
	box-shadow: inset -10px 10px 0px 5px #00000065;

	border-bottom: 1px solid #fff;
	border-left: 1px solid #fff;
}

.outter-box {
	padding: 2vh;

	font-weight: 600;
	font-size: 4ex;

	text-align: center;
	text-shadow: 0 1px 0 #ffffff;

	border-radius: 5vh;
	background-color: #ccb73d;

	-webkit-box-shadow: -7px 7px 0px -2px #7c6f26;
	-moz-box-shadow: -7px 7px 0px -2px #7c6f26;
	box-shadow: -7px 7px 0px -2px #7c6f26;

	border-top: 1px solid #fff;
	border-right: 1px solid #fff;

	margin-left: 10px;
}

.outter-box.error {
	color: #b90808;
}

.outter-box:active {
	transform: translate(-4px, 4px);

	-webkit-box-shadow: -2px 2px 0px 0px #7c6f26;
	-moz-box-shadow: -2px 2px 0px 0px #7c6f26;
	box-shadow: -2px 2px 0px 0px #7c6f26;
}

.dark-mode .outter-box:active {
	transform: translate(-4px, 4px);

	-webkit-box-shadow: -2px 2px 0px 0px#00000065;
	-moz-box-shadow: -2px 2px 0px 0px#00000065;
	box-shadow: -2px 2px 0px 0px#00000065;
}

.dark-mode .outter-box {
	text-shadow: 0 1px 0 #151515;

	background-color: #2e2e2e;

	-webkit-box-shadow: -7px 7px 0px -2px #00000065;
	-moz-box-shadow: -7px 7px 0px -2px #00000065;
	box-shadow: -7px 7px 0px -2px #00000065;

	border-top: 1px solid #151515;
	border-right: 1px solid #151515;
}

.typing-container {
	margin-top: 5vh;

	height: 50vh;

	overflow: hidden;
}

.dark-mode .inner-box {
	background-color: #2e2e2e;

	border-bottom: 1px solid #151515;
	border-left: 1px solid #151515;
}

.typing-container .line {
	display: flex;
	flex-direction: row;

	flex-wrap: wrap;
	margin: 1vh 0;
}

.typing-container .line .token {
	display: flex;
	flex-direction: row;

	align-items: center;
	justify-content: center;

	margin: 0;

	border-radius: 4px;
}

.typing-container .line .token.active {
	-webkit-box-shadow: inset 0 3px 0px -1px #00000065;
	-moz-box-shadow: inset 0 3px 0px -1px #00000065;
	box-shadow: inset 0 3px 0px -1px #00000065;
}

.typing-container .line .token .token-unit {
	margin: 1px;
	padding: 0;

	font-size: 2em;

	border-radius: 5px;
}

.typing-container .line .token .token-unit.active {
	text-decoration: underline;
}

.done {
	background-color: #05a30567;
	color: #023f02;
}

.fail {
	background-color: #642b2b67;
	color: #3f0202;
}

.warn.done,
.warn.fail {
	background-color: #83810a67;
	color: #3b3a02;
}

.dark-mode .done {
	background-color: #00ff0067;
	color: #07ce07;
}

.dark-mode .fail {
	background-color: #dd0a0a67;
	color: #d40b0b;
}

.dark-mode .warn.done,
.dark-mode .warn.fail {
	background-color: #d3d00c67;
	color: #fffb00;
}
